In [1]:
# Life is about to get easier

In [2]:
scores = [1, 2, 7, 1, 5, 6]
sum(scores)

22

In [3]:
# Wait how?

In [4]:
max(scores)

7

In [5]:
min(scores)

1

In [6]:
kids = [
    {"name": "Marwin", "score": 81},
    {"name": "Bella", "score": 11},
    {"name": "Aaron", "score": 93},
    {"name": "Neil", "score": 64},
    {"name": "Ikena", "score": 102},
    {"name": "Son Min", "score": 11},
    {"name": "Hugo", "score": 38},
    {"name": "Akhil", "score": 85},
    {"name": "Ashley", "score": 91},
    {"name": "Madison", "score": 91},
    {"name": "Nessy", "score": 69}
]

nice_list = []
naughty_list = []

for kid in kids:
    if kid["score"] > 80:
        nice_list = nice_list + [kid]
    else:
        naughty_list = naughty_list + [kid]
        
print("Naughty:")
for kid in naughty_list:
    print(kid["name"])
    
print("\nNice:")
for kid in nice_list:
    print(kid["name"])

Naughty:
Bella
Neil
Son Min
Hugo
Nessy

Nice:
Marwin
Aaron
Ikena
Akhil
Ashley
Madison

In [7]:
nice_list[-1]

{'name': 'Madison', 'score': 91}

In [8]:
nice_list[-2]

{'name': 'Ashley', 'score': 91}

In [9]:
nice_list[2] = {"name": "Aaron", "score": 99}

In [10]:
nice_list[2]

{'name': 'Aaron', 'score': 99}

In [15]:
nice_list[1:2]

[{'name': 'Aaron', 'score': 93}]

In [16]:
nice_list[:2]

[{'name': 'Marwin', 'score': 81}, {'name': 'Aaron', 'score': 93}]

In [17]:
nice_list[3:]

[{'name': 'Akhil', 'score': 85},
 {'name': 'Ashley', 'score': 91},
 {'name': 'Madison', 'score': 91},
 {'name': 'Bella', 'score': 11},
 {'name': 'Neil', 'score': 64},
 {'name': 'Son Min', 'score': 11},
 {'name': 'Hugo', 'score': 38},
 {'name': 'Nessy', 'score': 69}]

In [11]:
nice_list

[{'name': 'Marwin', 'score': 81},
 {'name': 'Aaron', 'score': 93},
 {'name': 'Aaron', 'score': 99},
 {'name': 'Akhil', 'score': 85},
 {'name': 'Ashley', 'score': 91},
 {'name': 'Madison', 'score': 91}]

In [12]:
kids_list = nice_list
kids_list.extend(naughty_list)
kids_list

[{'name': 'Marwin', 'score': 81},
 {'name': 'Aaron', 'score': 93},
 {'name': 'Aaron', 'score': 99},
 {'name': 'Akhil', 'score': 85},
 {'name': 'Ashley', 'score': 91},
 {'name': 'Madison', 'score': 91},
 {'name': 'Bella', 'score': 11},
 {'name': 'Neil', 'score': 64},
 {'name': 'Son Min', 'score': 11},
 {'name': 'Hugo', 'score': 38},
 {'name': 'Nessy', 'score': 69}]

In [13]:
nice_list

[{'name': 'Marwin', 'score': 81},
 {'name': 'Aaron', 'score': 93},
 {'name': 'Aaron', 'score': 99},
 {'name': 'Akhil', 'score': 85},
 {'name': 'Ashley', 'score': 91},
 {'name': 'Madison', 'score': 91},
 {'name': 'Bella', 'score': 11},
 {'name': 'Neil', 'score': 64},
 {'name': 'Son Min', 'score': 11},
 {'name': 'Hugo', 'score': 38},
 {'name': 'Nessy', 'score': 69}]

In [42]:
kids = [
    {"name": "Marwin", "score": 81},
    {"name": "Bella", "score": 11},
    {"name": "Aaron", "score": 93},
    {"name": "Neil", "score": 64},
    {"name": "Ikena", "score": 102},
    {"name": "Son Min", "score": 11},
    {"name": "Hugo", "score": 38},
    {"name": "Akhil", "score": 85},
    {"name": "Ashley", "score": 91},
    {"name": "Madison", "score": 91},
    {"name": "Nessy", "score": 69}
]

nice_list = []
naughty_list = []

for kid in kids:
    if kid["score"] > 80:
        nice_list = nice_list + [kid]
    else:
        naughty_list = naughty_list + [kid]
        
print("Naughty:")
for kid in naughty_list:
    print(kid["name"])
    
print("\nNice:")
for kid in nice_list:
    print(kid["name"])

Naughty:
Bella
Neil
Son Min
Hugo
Nessy

Nice:
Marwin
Aaron
Ikena
Akhil
Ashley
Madison

In [14]:
# What?

In [44]:
kids_list = nice_list.copy()
kids_list.extend(naughty_list)
kids_list

[{'name': 'Marwin', 'score': 81},
 {'name': 'Aaron', 'score': 93},
 {'name': 'Ikena', 'score': 102},
 {'name': 'Akhil', 'score': 85},
 {'name': 'Ashley', 'score': 91},
 {'name': 'Madison', 'score': 91},
 {'name': 'Bella', 'score': 11},
 {'name': 'Neil', 'score': 64},
 {'name': 'Son Min', 'score': 11},
 {'name': 'Hugo', 'score': 38},
 {'name': 'Nessy', 'score': 69}]

In [45]:
nice_list

[{'name': 'Marwin', 'score': 81},
 {'name': 'Aaron', 'score': 93},
 {'name': 'Ikena', 'score': 102},
 {'name': 'Akhil', 'score': 85},
 {'name': 'Ashley', 'score': 91},
 {'name': 'Madison', 'score': 91}]

In [24]:
scores = [1, 2, 7, 1, 5, 6]

In [21]:
scores.reverse()
scores

[1, 2, 7, 1, 5, 6]

In [22]:
scores.index(7)

2

In [26]:
scores = [1, 2, 7, 1, 5, 6]
del scores[scores.index(7)]
scores

[1, 2, 1, 5, 6]

In [27]:
scores = [4, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.count(10)

4

In [29]:
scores = [4, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.insert(4, 5)
scores

[4, 5, 6, 10, 5, 10, 10, 9, 2, 9, 10]

In [30]:
scores = [4, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.remove(5)
scores

[4, 6, 10, 10, 10, 9, 2, 9, 10]

In [31]:
scores = [4, 5, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.remove(5)
scores

[4, 5, 6, 10, 10, 10, 9, 2, 9, 10]

In [33]:
scores = [4, 5, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.pop()
scores

[4, 5, 5, 6, 10, 10, 10, 9, 2, 9]

In [34]:
scores = [4, 5, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.pop(0)
scores

[5, 5, 6, 10, 10, 10, 9, 2, 9, 10]

In [36]:
scores = [4, 5, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.pop(5)
scores

[4, 5, 5, 6, 10, 10, 9, 2, 9, 10]

In [37]:
scores = [4, 5, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.sort()
scores

[2, 4, 5, 5, 6, 9, 9, 10, 10, 10, 10]

In [41]:
scores = [4, 5, 5, 6, 10, 10, 10, 9, 2, 9, 10]
scores.sort(reverse=True)
scores

[10, 10, 10, 10, 9, 9, 6, 5, 5, 4, 2]

In [47]:
my_name = "John Doe"
len(my_name)

8

In [48]:
my_name.index("J")

0

In [50]:
my_name.index("Jo")

0

In [51]:
my_name.index("oh")

1

In [52]:
my_name.index("x")

ValueError: substring not found

In [53]:
xs = "xxxxxxxyyyyxxxxyx"
xs.count("x")

12

In [54]:
xs.count("xxx")

3

In [55]:
xs.count("xxxxxx")

1

In [57]:
xs.startswith("xx")

True

In [58]:
xs.endswith("xx")

False

In [59]:
xs.endswith("xy")

False

In [60]:
name = "Hello Aqueel"
name[6:]

'Aqueel'

In [ ]:
# HW: Implementing sort function
# find all duplicate in an array, return duplicate as an array
# duplicate only array cannot have duplicates
# Look into sets data structures, now redo the duplicates question with sets